h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  text-align: center;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #2b2b46;
  border-radius: 4px;
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background: #8f94b4;
}
.bettyman-layout {
  --color-black: #0c1017;
  --color-yellow: hsla(43, 100%, 53%, 1);
  --color-green: #20fb56;
  --color-violet: #af03fa;
  --color-turquoise: #0bffe2;
  --color-gray: #8f94b4;
  --color-dark-gray: #161621;
  --gradient-dark-gray: linear-gradient(180deg, #2c2d3c 0%, #20212a 100%);
  --gradient-active-green-btn: linear-gradient(0deg, #20fb56 0%, #20fb56 100%),
    #0c1017;
  --container-offset: 32px;
}

.bettyman-layout .button-nav__item a {
  color: var(--color-gray);
  text-decoration: none;
}

.bettyman-layout .button-nav__item:not(.active):hover a {
  color: var(--color-yellow);
}

.bettyman-layout .button-nav__item.active a {
  color: var(--color-black);
}

@media (max-width: 1200px) {
  .bettyman-layout {
    --container-offset: 20px;
  }
}

@media (max-width: 600px) {
  .bettyman-layout {
    --container-offset: 16px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

.bettyman-layout {
  background-color: var(--color-black);
  color: #fff;
  font-family: 'Baloo Tamma 2';
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}

img {
  height: auto;
  max-width: 100%;
}

button {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (hover: hover) and (pointer: fine) {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #fff0;
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #161621;
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;

  padding: 0;
  position: relative;
}

/* app section */

.logo-icon {
  position: absolute;
}

.app-text_wrap {
  position: absolute;
  text-align: center;
}

.app-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  gap: 3%;
}

.app-head-text {
  line-height: 1.2;
}

.download-button {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 800;

  border: none;

  border-radius: 10vw;
  text-decoration: none;
  box-shadow: 0 0 0 0 var(--button-outline-color, var(--color-yellow));
  transition: box-shadow 0.2s;
}

.download-button__android {
  background-color: var(--button-bg-color, var(--color-violet));
  color: #fff;
}
.download-button__apple {
  background-color: var(--button-bg-color, var(--color-yellow));
  color: #000;
}

.instruction-head-text {
  font-weight: 600;
}

.android-text__wrap {
  color: var(--color-violet);
}

.circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  aspect-ratio: 1;

  background-color: #20fb56;

  border-radius: 50%;

  color: #0c1017;
  font-weight: 800;
}

.download-button:hover {
  box-shadow: 0 0 0 2px var(--button-outline-color, #20fb56);
}

.instruction-list {
  color: #a5a5a5;
}
.instruction-item_text {
  font-weight: 600;
}

.mobile-prew {
}

@media screen and (max-width: 480px) {
  .logo-icon {
    display: none;
  }
  .app-head-text {
    font-size: clamp(7px, 3px + 7.897vw, 34px);

    margin: 0 0 9% 0;
  }

  .app-text_wrap {
    padding: 12.16% 11.28% 0 11.28%;
  }

  .download-button {
    aspect-ratio: 3.9;
    width: 69.86%;
    font-size: clamp(6px, 3px + 4.145vw, 22px);
  }

  .download-button__android {
    margin-bottom: 6.8%;
  }

  .download-button__apple {
    margin-bottom: 10%;
  }

  .icon-btn {
    width: 17.663%;
    margin-right: 8%;
  }
  .icon-btn_ios {
    width: 10.93%;
    margin-right: 10%;
  }

  .instruction-head-text {
    font-size: clamp(5px, 3px + 4.359vw, 21px);

    margin-bottom: 9%;
  }
  .instruction-list {
    padding: 0 13.64%;
  }
  .circle {
    width: clamp(2px, 4px + 5.15vw, 31px);
    margin-bottom: 6%;
    font-size: clamp(5px, 1.1px + 4.3vw, 31px);
  }

  .instruction-item_text {
    margin-bottom: 9%;
    font-size: clamp(5px, 4.3px + 2.49vw, 31px);
  }
  .bg-img {
    display: none;
  }

  .bg-img-mob {
    width: 100%;
  }
  .mobile-prew {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  .logo-icon {
    width: 18.958%;

    top: 10.178%;
    left: 20.83%;
  }
  .app-text_wrap {
    position: absolute;
    top: 24.7%;
    left: 20.83%;

    width: 38%;
    text-align: left;
  }

  .app-head-text {
    font-size: clamp(14px, 4.1px + 2.6vw, 55px);

    margin-bottom: 2.47%;
  }
  .app-buttons {
    flex-direction: row;
    gap: 5%;

    margin-bottom: 8.448%;
  }

  .download-button {
    width: 35.756%;
    aspect-ratio: 242/62;
    font-size: clamp(6px, 1.3px + 1vw, 22px);
  }

  .icon-btn {
    width: 17.663%;
    margin-right: 8%;
  }
  .icon-btn_ios {
    width: 10.93%;
    margin-right: 10%;
  }

  .instruction-head-text {
    text-align: left;
    font-size: clamp(5px, 1.3px + 1vw, 21px);

    margin-bottom: 4.249%;
  }

  .instruction-list {
    display: flex;
    flex-direction: column;
    gap: 5%;
  }

  .instruction-list__item {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    gap: 5%;
  }

  .circle {
    width: 1.614vw;
    height: 1.614vw;

    font-size: clamp(6px, 1.1vw, 23px);
  }

  .instruction-item_text {
    font-size: clamp(5px, 1.421px + 0.833vw, 18px);

    text-align: left;
  }

  .mobile-prew {
    width: clamp(100px, 18.63%, 360px);
    aspect-ratio: 357.732/727.792;
    position: absolute;
    top: 6.9648%;
    left: 60.677%;
  }
  .mobile-prew-img {
    border-radius: 3.3vw;
  }

  .bg-img-mob {
    display: none;
  }
}

/* region section */

.section_region {
  padding-top: clamp(30px, 2.448vw, 47px);
  padding-bottom: clamp(40px, 3.645vw, 70px);
  color: #8f94b4;
}

.region-select__text {
  text-transform: uppercase;
  margin-right: 1.4%;
  font-size: clamp(8px, 2.2px + 0.666vw, 15px);
}
.region-select {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.875%;
}
.region-select__list {
  position: relative;
  display: inline-block;
}

.select-text {
  font-size: clamp(8px, 2.2px + 0.85vw, 19px);
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #1f2937;
  color: inherit;
  padding: 10px 40px 10px 16px;
  border: none;
  border-radius: 9999px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

select:focus {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.region-select__list::after {
  content: '\25BC'; /* Dropdown icon */
  color: inherit;
  position: absolute;
  right: 10%;
  top: 55%;
  transform: translateY(-50%);
  pointer-events: none;
}

.select__notes {
  text-align: center;
  font-size: clamp(8px, 0.7px + 0.64vw, 13px);
}

@media screen and (max-width: 480px) {
  .section_region {
    display: none;
  }
}
